# Ignore clasp config files (each project’s local link to Google)
**/.clasp.json

# Ignore node modules (if any)
**/node_modules/

# Ignore system junk files
.DS_Store
Thumbs.db

# Ignore log files or temp files across all folders
*.log
